<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	<!-- Standard out -->
	<appender name="stderr" class="org.apache.log4j.ConsoleAppender">
		<param name="threshold" value="warn"/>
		<param name="target" value="System.err"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %c{1}:%L - %m%n" />
		</layout>
	</appender>
	<!-- Standard error -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
	    <param name="threshold" value="debug" />
        <param name="target" value="System.out"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%5p %c{1}:%L - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="debug" />
            <param name="LevelMax" value="info" />
        </filter>
	</appender>
	<logger name="nl.ru.jtimmerm">
		<level value="info" />
	</logger>
	<root>
		<priority value="warn" />
		<appender-ref ref="stdout" />
		<appender-ref ref="stderr" />
	</root>
</log4j:configuration>